@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* , html{
    margin: 0;
    padding : 0;
    box-sizing: border-box;;
}

body {
    font-size: 12px;
    font-family: roboto, sans-serif;
    
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}